<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <h1>お店一覧</h1>
        <div class="col-lg-4">
          <% @search_shops.each do |shop| %>
          <p>
            <%= link_to shop_path(shop), data: {"turbolinks" => false} do %>
              <%= attachment_image_tag shop, :image, :fill, 300, 300, format: 'jpeg' %>
            <% end %>
          </p>
          <% end %>
        </div>
    </div>
  </div>
</div>

