.slide-image1 {
  background-image: image-url("reco1.jpeg");
}
.slide-image2 {
  background-image: image-url("ramen2.jpeg");
}
.slide-image3 {
  background-image: image-url("burger2.jpeg");
}


#container{
  height: 700px;
}