<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <h1>アカウント登録完了しました！</h1>
      <%= link_to "お店を紹介する", new_shop_path %>
      <%= link_to "マイページへ", user_path(current_user) %>
    </div>
  </div>
</div>